.header {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
  align-items: center;
  margin-bottom: 40px;

  .line {
    width: 1px;
    height: 48px;
    background-color: #c2c2c2;
  }

  h3 {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.5px;
  }

  h6 {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.4px;
  }

  img {
    cursor: pointer;
    width: auto;
  }
}
